<header class="flex items-center justify-between h-20 w-full">
  <div class="flex items-center justify-center">
    @if (this.settingsService.stepIndex > 0) {
      <button
        class="flex items-center justify-center gap-4"
        (click)="navigateBack()"
      >
        <lucide-icon [name]="ArrowLeft" class="w-6 h-6"></lucide-icon>
        Back
      </button>
    }
  </div>
  <div class="flex items-center justify-center">
    <button>
      <lucide-icon [name]="Menu" class="w-6 h-6"></lucide-icon>
    </button>
  </div>
</header>
