<div class="flex flex-row justify-between items-center">
  <div class="flex flex-row items-center gap-4">
    <div>
      <i class="fa-solid fa-hourglass-start text-primary text-2xl"></i>
    </div>
    <div class="text-primary">2:14</div>
  </div>
  <div
    class="flex flex-row items-center gap-4 cursor-pointer"
    (click)="exitGame()"
  >
    <div>
      <i class="fa-solid fa-door-open text-primary text-2xl"></i>
    </div>
    <div>
      <p class="font-ubuntu-bold text-primary">Exit</p>
    </div>
  </div>
</div>
