.time-bar-container {
  width: 100%;
  background-color: #1c1a5d;
  height: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.time-bar {
  background-color: #40dee8;
  height: 100%;
  transition: width 1s linear;
}
