<div class="flex flex-col justify-center items-center h-screen">
  @if (this.players === 1) {
  <div class="mt-10">
    <p
      class="font-ubuntu-bold text-2xl text-center text-primary leading-relaxed"
    >
      Your Score
    </p>
  </div>
  <div class="flex flex-col justify-center h-full w-full">
    <div class="flex justify-center items-center"></div>
  </div>
  } @else {
  <div class="mt-10">
    <p
      class="font-ubuntu-bold text-2xl text-center text-primary leading-relaxed"
    >
      Leaderboard
    </p>
  </div>
  <div class="flex flex-col justify-center h-full w-full">
    <div
      class="flex justify-center items-center border-2 rounded-xl h-12 w-full"
    >
      <p class="font-ubuntu-bold text-xl text-primary">
        {{ this.winner }}
      </p>
    </div>
  </div>
  }
  <div class="flex flex-row items-center gap-4 w-full mb-10">
    <div class="flex justify-center items-end h-full w-full">
      <button
        class="font-ubuntu-bold rounded-xl bg-button text-theme h-10 w-full hover:opacity-50 transition-opacity"
        (click)="goToSettings()"
      >
        Restart
      </button>
    </div>
    <div>
      <p class="text-primary font-ubuntu-bold">or</p>
    </div>
    <div class="flex justify-center items-end w-full">
      <button
        class="font-ubuntu-bold rounded-xl text-primary border-primary border-2 w-full h-10"
        (click)="exitGame()"
      >
        Quit
      </button>
    </div>
  </div>
</div>
