<div class="flex flex-col justify-center gap-4 h-full w-4/5">
  <div>
    <p
      class="font-ubuntu-bold text-4xl text-center text-primary leading-relaxed"
    >
      Select a category!
    </p>
  </div>
  <div class="flex flex-row items-center gap-4">
    <button class="bg-primary rounded-xl w-full h-32">
      <i class="fa-solid fa-landmark text-theme text-3xl"></i>
    </button>
    <button class="bg-primary rounded-xl w-full h-32">
      <i class="fa-solid fa-book-open text-theme text-3xl"></i>
    </button>
  </div>
  <div class="flex flex-row items-center gap-4 ">
    <button class="bg-primary rounded-xl w-full h-32">
      <i class="fa-solid fa-palette text-theme text-3xl"></i>
    </button>
    <button class="bg-primary rounded-xl w-full h-32">
      <i class="fa-solid fa-music text-theme text-3xl"></i>
    </button>
  </div>
</div>
