<div class="flex flex-col justify-start h-full w-72">
  <div class="flex flex-col gap-8 h-full">
    <p class="font-ubuntu-bold text-4xl text-center text-primary leading-relaxed">
      Select a difficulty!
    </p>
    <form class="flex flex-col gap-8">
      <button
        type="button"
        class="bg-easy font-ubuntu-bold rounded-xl h-14 w-full transition-opacity"
        (click)="selectDifficulty(QuizDifficulty.Easy)"
        [ngClass]="{
          'opacity-50': difficultyControl.value === QuizDifficulty.Easy
        }"
      >
        Easy
      </button>
      <button
        type="button"
        class="bg-medium font-ubuntu-bold rounded-xl h-14 w-full transition-opacity"
        (click)="selectDifficulty(QuizDifficulty.Medium)"
        [ngClass]="{
          'opacity-50': difficultyControl.value === QuizDifficulty.Medium
        }"
      >
        Medium
      </button>
      <button
        type="button"
        class="bg-hard font-ubuntu-bold rounded-xl h-14 w-full transition-opacity"
        (click)="selectDifficulty(QuizDifficulty.Hard)"
        [ngClass]="{
          'opacity-50': difficultyControl.value === QuizDifficulty.Hard
        }"
      >
        Hard
      </button>
    </form>
  </div>
  <button
    (click)="this.gameSettingsService.nextStep()"
    [disabled]="difficultyControl.value === null"
    class="bg-primary font-ubuntu-bold rounded-xl hover:opacity-50 transition-opacity h-14 w-full mb-10"
    [ngClass]="{
      'opacity-50': difficultyControl.value === null,
      'opacity-100': difficultyControl.value !== null
    }"
  >
    Continue
  </button>
</div>
