@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Outfit-Light;
  src: url("/fonts/Outfit-Light.ttf") format("truetype");
}

@font-face {
  font-family: Outfit-Regular;
  src: url("/fonts/Outfit-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Outfit-Medium;
  src: url("/fonts/Outfit-Medium.ttf") format("truetype");
}

@font-face {
  font-family: Outfit-SemiBold;
  src: url("/fonts/Outfit-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: Outfit-Bold;
  src: url("/fonts/Outfit-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Outfit-ExtraBold;
  src: url("/fonts/Outfit-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: Outfit-Black;
  src: url("/fonts/Outfit-Black.ttf") format("truetype");
}

:root {
  --background: #fafafa;
  --foreground: #000000;

  --muted-text: #666666;

  --border: #cccccc;

  --card: #ffffff;
  --card-hover: #f0f0f0;

  --button: #000000;
  --button-text: #ffffff;
  --button-hover: #333333;

  --error: #ff5555;
}

:root[data-theme="dark"] {
  --background: #121212;
  --foreground: #ffffff;

  --muted-text: #aaaaaa;

  --border: #555555;

  --card: #333333;
  --card-hover: #444444;

  --button: #ffffff;
  --button-text: #000000;
  --button-hover: #cccccc;

  --error: #ff5555;
}

body {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  font-family: "Outfit-Regular", sans-serif;
  max-width: 425px;
  background-color: var(--background);
  color: var(--foreground);
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
