@if (this.players.length > 0) {
<div
  *ngFor="let player of players; let i = index"
  [ngClass]="{
    currentPlayerSelected: i === this.playerService.currentPlayerIndex
  }"
  class="brightness-50"
>
  <div class="bg-primary rounded-xl">
    <div class="flex justify-between items-center h-full w-full p-8">
      <div class="flex justify-between items-center h-full">
        <div class="flex flex-col justify-center items-center">
          <span class="font-ubuntu-bold text-3xl text-theme">{{
            player.name
          }}</span>
        </div>
      </div>
      <div class="flex flex-col justify-center items-center gap-2">
        <span class="font-ubuntu-bold text-3xl text-theme">
          <span *ngFor="let i of getArray(player.lives)">
            <i class="fa-solid fa-heart"></i>
          </span>
        </span>
        <span class="font-ubuntu-bold text-3xl text-theme">
          {{ player.score }} Pts.
        </span>
      </div>
    </div>
  </div>
</div>
}
