@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;

  --muted-text: #888888;

  --border: #cccccc;

  --card: #f5f5f5;
  --card-hover: #e0e0e0;

  --button: #000000;
  --button-text: #ffffff;
  --button-hover: #333333;

  --error: #ff0000;
}

:root[data-theme="dark"] {
  --background: #000000;
  --foreground: #ffffff;

  --muted-text: #aaaaaa;

  --border: #444444;

  --card: #333333;
  --card-hover: #555555;

  --button: #ffffff;
  --button-text: #000000;
  --button-hover: #cccccc;

  --error: #ff5555;
}

body {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  font-family: "Arial", sans-serif;
  max-width: 425px;
  background-color: var(--background);
  color: var(--foreground);
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
