<div class="flex flex-col justify-start gap-4 h-screen w-container">
  <div>
    <app-header></app-header>
  </div>
  <div class="flex flex-col items-center justify-center h-full w-full">
    <app-question-answer
      class="flex flex-col h-full w-full"
    ></app-question-answer>
  </div>
  <div class="relative -bottom-36 bg-primary rounded-xl w-full">
    <div class="flex flex-col justify-start items-center w-full h-full">
      <app-player class="flex w-full"></app-player>
    </div>
  </div>
</div>
