<div class="flex flex-col justify-start gap-12 mt-12 h-screen w-full w-container">
  <div class="h-16">
    <app-header></app-header>
  </div>
  <div class="flex flex-col gap-4">
    <div class="mb-8">
      <app-player></app-player>
    </div>
    <div>
      <app-question></app-question>
    </div>
  </div>
  <div>
    <app-answers></app-answers>
  </div>
  <div class="flex flex-row justify-center">
    <button class="bg-button font-ubuntu-bold rounded-xl w-3/5 h-10">
      Next
    </button>
  </div>
</div>
