<div class="flex flex-col h-full w-full">
  <div class="flex flex-col gap-8">
    @if (this.questions.length == 0) {
    <p class="text-primary text-center text-xl font-ubuntu-bold">
      Loading questions...
    </p>
    }
    <div *ngIf="this.questions.length > 0" class="flex flex-col gap-4">
      <div *ngIf="questions[currentQuestionIndex]">
        <p class="text-accent text-center">
          Question {{ this.currentQuestionIndex }} out of
          {{ this.questions.length }}
        </p>
      </div>
      <p
        class="text-primary text-center font-ubuntu-bold text-2xl"
        [innerHTML]="this.questions[this.currentQuestionIndex]?.question"
      ></p>
    </div>
    <div class="answer-section flex flex-col gap-4 justify-end w-full">
      <button
        *ngFor="
          let answer of this.questions[this.currentQuestionIndex]?.answers
        "
        [ngClass]="{
          'selected-answer': selectedAnswer === answer,
          'correct-answer': selectedAnswer === answer && isCorrect === true,
          'incorrect-answer': selectedAnswer === answer && isCorrect === false
        }"
        (click)="selectAnswer(answer)"
        class="answers focus:bg-button font-ubuntu-bold bg-primary rounded-xl text-center h-14 w-full transition"
      >
        {{ answer }}
      </button>
    </div>
  </div>
  <div class="flex flex-row justify-center items-end mt-10 mb-10 h-full w-full">
    <button
      [disabled]="!selectedAnswer"
      class="bg-button border border-button font-ubuntu-bold rounded-xl w-full h-14 transition-opacity"
      (click)="goToNextQuestion()"
    >
      Next
    </button>
  </div>
</div>
