.mat-mdc-slider {
  width: 100% !important;
}

.mdc-slider__thumb-knob {
  width: 25px !important;
  height: 25px !important;
  border-radius: 0.75rem !important;
}

.playerCount-button:hover {
  background-color: #40dee8;
}

.bg-selected {
  background-color: #40dee8;
}
