<div class="flex flex-col justify-center items-center gap-16 h-full w-full">
  <div>
    <p class="font-ubuntu-bold text-4xl text-center text-primary leading-relaxed">
      How many of you want to play?
    </p>
  </div>
  <div class="flex flex-row justify-center items-center w-full">
    <mat-slider
      class="flex flex-row w-full"
      min="0"
      max="10"
      step="1"
      showTickMarks
      discrete
    >
      <input class="flex flex-row w-full" matSliderThumb />
    </mat-slider>
  </div>
</div>
